<li class='topspeeditem' 
	data-lat=<%= s.link.link_points.first.latitude %> 
	data-lng=<%= s.link.link_points.first.longitude %> >

	<a href='#'><p><%= "#{s.link.link_name}" %></p>
	<p><%= "#{s.speed} mph" %></p></a>
</li>