<div id='header'>
	<h1>NYC Real-Time Traffic Cam Map</h1>
</div>

<div id='container'>
	<div id='content'>
		<div class='column' id='right'>
			<h2>Top Links (Highest Average Speed)</h2>
			<ul id='topspeedlist'>
			<% @top_speeds.each do |s| %>
				<%= render :partial => "topspeed", :locals => { :s => s } %>
			<% end %>
			</ul>
		</div>

		<div id='center'>

		<%= gmaps( {
				"polylines" => { "data" => @data }
		}) %>

		</div>


	</div>
</div>

<%= link_to 'Blah', :controller => 'maps', :action => 'index', :remote => true %>

<div id='footer'>
	<p>Map created by Yee-Ning Cheng</p>
	<p>Data provided by: NYCDOT</p>
</div>

<script type='text/javascript'>

$(document).ready(function() {
	var topspeeditem = $("li.topspeeditem")

	topspeeditem.click(function() {
		var myLatlng = new google.maps.LatLng($(this).data('lat'), $(this).data('lng'));
  		var mapOptions = {
		    zoom: 10,
		    center: myLatlng,
		    mapTypeId: google.maps.MapTypeId.ROADMAP
  		}
  		var map = new google.maps.Map(document.getElementById("map"), mapOptions);

		var marker = new google.maps.Marker({
		    position: myLatlng,
		    map: map,
		    title: $(this).children("a").text()
		 });

	})

	function update() {
		$.ajax({
			url: "/", 
			type: 'GET',
			success: function(data) {
				var x = $(data).find('#topspeedlist');
				console.log(x);
				$('#topspeedlist').html(x);
				setTimeout(function() {
					update();
				}, 3000);
			},
			dataType: 'html'
		});
	}

	setTimeout(function() {
		update();
	}, 2000);


})
</script>